@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .animate-scroll-left {
    animation: scroll-left 40s linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right 40s linear infinite;
  }

  .group:hover .pause-animation {
    animation-play-state: paused;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
}